*  {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #474e5d;
  font-family: Arial;
}

.nav-links li{
  list-style: none;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a{
  color:rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.logo{
  filter: blur(1px);
  -webkit-filter: blur(1px);
  padding: 8px;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
}

.bg-img{
    background-image: url(../image/flstk1.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text{
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
  
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    border-radius: 10px;
  }
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

.resume-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  border-radius: 10px;
}  